dl.card {
  background: rgba(255, 255, 255, 0.8);
  max-width: 12rem;
  height: auto;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

dt.card-header {
  display: flex;
  height: auto;
  font-size: 1.5rem;
}

dt.card-body {
  padding: .8rem;
}
p {
  margin-bottom: 0;
  font-size: 1.5rem;
}
