.navbar {
  background-color: #ffdaa2;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  max-height: 6rem;
  width: -webkit-fill-available;
  margin: 0;
  padding: 0.5rem 1rem;
}

.text {
  color: #5f3600;
  font-size: 2rem;
}

.App-logo {
  height: 4rem;
}
